In [3]:
import pandas as pd
df = pd.read_html('https://info.finance.yahoo.co.jp/history/?code=998407.O&sy=2017&sm=5&sd=11&ey=2017&em=9&ed=10&tm=d')[1]
df

             0         1         2         3         4
0           日付        始値        高値        安値        終値
1    2017年9月8日  19297.96  19357.49  19239.52  19274.82
2    2017年9月7日  19433.44  19482.72  19365.75  19396.52
3    2017年9月6日  19286.06  19371.38  19254.67  19357.97
4    2017年9月5日  19533.38  19542.78  19354.59  19385.81
5    2017年9月4日  19615.96   19628.4   19479.4  19508.25
6    2017年9月1日  19733.57  19735.96  19620.07  19691.47
7   2017年8月31日  19591.32  19687.99  19583.11  19646.24
8   2017年8月30日  19480.98  19538.23   19435.1  19506.54
9   2017年8月29日  19319.11   19371.9  19280.02  19362.55
10  2017年8月28日  19502.23   19535.5   19420.5   19449.9
11  2017年8月25日  19401.12  19485.97  19384.37  19452.61
12  2017年8月24日  19366.36  19428.55  19351.92  19353.77
13  2017年8月23日  19547.05  19561.32  19408.47  19434.64
14  2017年8月22日  19373.11  19437.25  19361.95  19383.84
15  2017年8月21日  19509.53  19509.53  19365.65  19393.13
16  2017年8月18日  19471.27  19543.13  19433.09  19470.41
17  2017年8月17日  19707.75  19739.04  19679.37  19702.63
18  2017年8月16日  19750.55  19776.86  19719.08  19729.28
19  2017年8月15日  19689.38  19824.12  19656.91  19753.31
20  2017年8月14日  19545.58  19598.41  19486.48   19537.1

In [4]:
df = pd.read_csv('http://k-db.com/futures/F101-0000/1d/2017?download=csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x93 in position 0: invalid start byte

In [5]:
df = pd.read_csv('http://k-db.com/futures/F101-0000/1d/2017?download=csv', encoding="shift-jis")

In [6]:
df

             日付  時刻     始値     高値     安値     終値     出来高        売買代金
0    2017-09-22  夜間  20170  20220  20150  20200   14126   285046998
1    2017-09-22  日中  20240  20290  20120  20180   59288  1196525980
2    2017-09-21  夜間  20260  20290  20180  20250   17642   357032330
3    2017-09-21  日中  20350  20370  20190  20220   56735  1150980700
4    2017-09-20  夜間  20160  20290  20120  20270   15166   306077518
5    2017-09-20  日中  20140  20220  20130  20140   36212   730093067
6    2017-09-19  夜間  20120  20160  20070  20130   18403   370102822
7    2017-09-19  日中  19990  20190  19980  20150   55420  1112334817
8    2017-09-15  夜間  19780  19900  19770  19850   22772   451599770
9    2017-09-15  日中  19660  19800  19630  19790   42156   831476114
10   2017-09-14  夜間  19660  19750  19650  19740   21533   424117944
11   2017-09-14  日中  19710  19780  19650  19690   42090   829656690
12   2017-09-13  夜間  19690  19750  19660  19750   15820   311726420
13   2017-09-13  日中  19750  19760  19690  19690   31007   611512000
14   2017-09-12  夜間  19650  19730  19640  19730   18725   368755835
15   2017-09-12  日中  19550  19650  19550  19630   40902   801825781
16   2017-09-11  夜間  19450  19570  19420  19560   16779   326802623
17   2017-09-11  日中  19280  19420  19270  19410   43567   843851485
18   2017-09-08  夜間  19100  19190  19080  19170   20983   401556280
19   2017-09-08  日中  19240  19250  19080  19140   50788   973083920
20   2017-09-07  夜間  19240  19340  19210  19270   26778   516144370
21   2017-09-07  日中  19450  19480  19360  19400   35865   696540390
22   2017-09-06  夜間  19330  19490  19290  19490   35762   693302293
23   2017-09-06  日中  19320  19380  19250  19340  100670  1945156029
24   2017-09-05  夜間  19430  19470  19260  19360   39413   764143956
25   2017-09-05  日中  19560  19570  19350  19430  103806  2018097369
26   2017-09-04  夜間  19460  19530  19450  19530   24086   469205977
27   2017-09-04  日中  19600  19620  19450  19470   68306  1334181538
28   2017-09-01  夜間  19710  19730  19670  19710   24204   476754475
29   2017-09-01  日中  19730  19740  19610  19690   45019   886040922
..          ...  ..    ...    ...    ...    ...     ...         ...
330  2017-01-25  夜間  19070  19280  19050  19230   21968   420976650
331  2017-01-25  日中  19060  19130  18960  19070   44946   855843060
332  2017-01-24  夜間  18850  19080  18830  19060   16947   320360810
333  2017-01-24  日中  18770  18900  18760  18840   50232   945507150
334  2017-01-23  夜間  18900  19000  18780  18860   25712   485942550
335  2017-01-23  日中  18980  19020  18840  18920   51636   976704026
336  2017-01-20  夜間  19150  19280  19050  19090   29273   562008890
337  2017-01-20  日中  19040  19170  19020  19160   40089   765552390
338  2017-01-19  夜間  19130  19170  18990  19040   20585   393248890
339  2017-01-19  日中  19020  19110  18950  19100   45202   861379787
340  2017-01-18  夜間  18830  18940  18770  18940   14842   279549303
341  2017-01-18  日中  18770  18930  18630  18830   61602  1156555276
342  2017-01-17  夜間  18770  18860  18650  18710   31231   585861373
343  2017-01-17  日中  19050  19070  18730  18730   63730  1204183865
344  2017-01-16  夜間  19050  19110  19030  19050    9201   175462160
345  2017-01-16  日中  19190  19240  19040  19060   47708   911899350
346  2017-01-13  夜間  19240  19370  19200  19250   20626   397574839
347  2017-01-13  日中  19190  19300  19140  19250   38257   735571379
348  2017-01-12  夜間  19070  19170  18940  19150   28771   548202260
349  2017-01-12  日中  19270  19270  19050  19110   64278  1230443890
350  2017-01-11  夜間  19350  19510  19120  19330   28317   547760410
351  2017-01-11  日中  19340  19390  19310  19350   35767   692264820
352  2017-01-10  夜間  19340  19420  19300  19340   15910   307884510
353  2017-01-10  日中  19400  19470  19230  19310   57608  1113888665
354  2017-01-06  夜間  19450  19620  19400  19600   20627   402387800
355  2017-01-06  日中  19370  19460  19310  19400   40178   779817910
356  2017-01-05  夜間  19440  19550  19360  19430   22586   439491090
357  2017-01-05  日中  19630  19640  19450  19500   51190   999702520
358  2017-01-04  夜間  19610  19670  19520  19660   17083   334491150
359  2017-01-04  日中  19270  19640  19260  19630   63782  1242486954

[360 rows x 8 columns]

In [7]:
df.columns = ['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Amount']

In [8]:
df.head()

         Date Time   Open   High    Low  Close  Volume      Amount
0  2017-09-22   夜間  20170  20220  20150  20200   14126   285046998
1  2017-09-22   日中  20240  20290  20120  20180   59288  1196525980
2  2017-09-21   夜間  20260  20290  20180  20250   17642   357032330
3  2017-09-21   日中  20350  20370  20190  20220   56735  1150980700
4  2017-09-20   夜間  20160  20290  20120  20270   15166   306077518

In [9]:
df1 = df[df['Time'] == '日中']

In [10]:
df1.head()

         Date Time   Open   High    Low  Close  Volume      Amount
1  2017-09-22   日中  20240  20290  20120  20180   59288  1196525980
3  2017-09-21   日中  20350  20370  20190  20220   56735  1150980700
5  2017-09-20   日中  20140  20220  20130  20140   36212   730093067
7  2017-09-19   日中  19990  20190  19980  20150   55420  1112334817
9  2017-09-15   日中  19660  19800  19630  19790   42156   831476114

In [11]:
df2 = df1[['Date', 'Open','High','Low','Close','Volume']]
df2.index = df2['Date']
df3 = df2[['Open', 'High', 'Low', 'Close', 'Volume']]
df3.head()

             Open   High    Low  Close  Volume
Date
2017-09-22  20240  20290  20120  20180   59288
2017-09-21  20350  20370  20190  20220   56735
2017-09-20  20140  20220  20130  20140   36212
2017-09-19  19990  20190  19980  20150   55420
2017-09-15  19660  19800  19630  19790   42156

In [12]:
years = [2007,2008, 2009, 2010, 2011, 2012, 2013,2014, 2015, 2016, 2017]
df = {}
for year in years:
    df['{}'.format(year)] = pd.read_csv('http://k-db.com/futures/F101-0000/1d/{}?download=csv'.format(year), encoding='shift-jis')

### 読み込み方が悪いのか時間がかかる

In [13]:
df['2008']

             日付  時刻       始値       高値       安値       終値     出来高        売買代金
0    2008-12-30  夜間      NaN      NaN      NaN      NaN       0           0
1    2008-12-30  日中   8710.0   8910.0   8700.0   8830.0   34508   304763350
2    2008-12-29  夜間   8720.0   8750.0   8700.0   8750.0    3155    27535430
3    2008-12-29  日中   8720.0   8770.0   8640.0   8750.0   27135   236468380
4    2008-12-26  夜間   8730.0   8750.0   8710.0   8740.0    1006     8781000
5    2008-12-26  日中   8660.0   8770.0   8620.0   8730.0   35720   311019900
6    2008-12-25  夜間   8640.0   8670.0   8620.0   8670.0    1432    12381140
7    2008-12-25  日中   8540.0   8660.0   8540.0   8660.0   17665   151484090
8    2008-12-24  夜間   8540.0   8570.0   8520.0   8570.0    2747    23477490
9    2008-12-24  日中   8580.0   8630.0   8480.0   8550.0   41551   354886230
10   2008-12-22  夜間   8720.0   8720.0   8610.0   8620.0    4791    41515280
11   2008-12-22  日中   8560.0   8780.0   8560.0   8740.0   47238   410944720
12   2008-12-19  夜間   8570.0   8590.0   8500.0   8530.0    4293    36634770
13   2008-12-19  日中   8660.0   8790.0   8580.0   8600.0   84032   727972470
14   2008-12-18  夜間   8690.0   8730.0   8650.0   8730.0    5361    46590290
15   2008-12-18  日中   8540.0   8750.0   8520.0   8660.0   82311   712192750
16   2008-12-17  夜間   8650.0   8690.0   8580.0   8590.0    6626    57142000
17   2008-12-17  日中   8750.0   8800.0   8410.0   8650.0  106980   921519960
18   2008-12-16  夜間   8530.0   8590.0   8510.0   8580.0    4237    36222280
19   2008-12-16  日中   8590.0   8640.0   8470.0   8560.0   79685   682610380
20   2008-12-15  夜間   8640.0   8650.0   8530.0   8580.0    5359    46005180
21   2008-12-15  日中   8500.0   8710.0   8490.0   8630.0   82439   711404820
22   2008-12-12  夜間   8240.0   8310.0   8210.0   8260.0    8470    69963750
23   2008-12-12  日中   8420.0   8630.0   8070.0   8290.0  165945  1381888150
24   2008-12-11  夜間   8680.0   8710.0   8610.0   8640.0    5363    46397970
25   2008-12-11  日中   8590.0   8730.0   8500.0   8690.0   47608   410218160
26   2008-12-10  夜間   8620.0   8650.0   8550.0   8570.0    6377    54856210
27   2008-12-10  日中   8370.0   8720.0   8360.0   8630.0  104568   895072980
28   2008-12-09  夜間   8380.0   8510.0   8360.0   8480.0    5462    45863370
29   2008-12-09  日中   8350.0   8500.0   8310.0   8400.0  103880   872119630
..          ...  ..      ...      ...      ...      ...     ...         ...
460  2008-01-25  夜間  13750.0  13790.0  13620.0  13690.0    8315   114038560
461  2008-01-25  日中  13320.0  13670.0  13300.0  13660.0  141078  1902343560
462  2008-01-24  夜間  13000.0  13020.0  12890.0  13010.0    9998   129523410
463  2008-01-24  日中  13030.0  13150.0  12930.0  13060.0  133729  1746708320
464  2008-01-23  夜間  12840.0  13070.0  12790.0  12860.0   14888   192409870
465  2008-01-23  日中  13030.0  13130.0  12620.0  12800.0  194804  2504439390
466  2008-01-22  夜間  12480.0  12580.0  12130.0  12540.0   20436   252513410
467  2008-01-22  日中  12700.0  12970.0  12510.0  12510.0  255581  3249331740
468  2008-01-21  夜間  13240.0  13240.0  12980.0  13080.0   11859   155169160
469  2008-01-21  日中  13630.0  13660.0  13290.0  13310.0  174214  2344163780
470  2008-01-18  夜間  13780.0  13810.0  13600.0  13680.0    6497    89045100
471  2008-01-18  日中  13390.0  13930.0  13360.0  13790.0  188035  2567743690
472  2008-01-17  夜間  13790.0  13810.0  13710.0  13730.0    4543    62543210
473  2008-01-17  日中  13680.0  13830.0  13480.0  13740.0  158460  2165906220
474  2008-01-16  夜間  13510.0  13510.0  13370.0  13440.0    5373    72197950
475  2008-01-16  日中  13630.0  13860.0  13480.0  13490.0  165054  2254547060
476  2008-01-15  夜間  13970.0  13980.0  13920.0  13930.0    3889    54289640
477  2008-01-15  日中  14160.0  14250.0  13930.0  13980.0  138612  1950352910
478  2008-01-11  夜間  14160.0  14370.0  14160.0  14270.0    5475    77921300
479  2008-01-11  日中  14480.0  14490.0  14100.0  14170.0  134866  1925004210
480  2008-01-10  夜間  14380.0  14430.0  14350.0  14370.0    3536    50891810
481  2008-01-10  日中  14560.0  14610.0  14380.0  14400.0   87978  1275672960
482  2008-01-09  夜間  14610.0  14620.0  14460.0  14480.0    3741    54424010
483  2008-01-09  日中  14310.0  14630.0  14260.0  14600.0  116775  1688610550
484  2008-01-08  夜間  14520.0  14560.0  14500.0  14560.0    3100    45047070
485  2008-01-08  日中  14440.0  14570.0  14380.0  14540.0   94765  1371593890
486  2008-01-07  夜間  14500.0  14540.0  14450.0  14520.0    3733    54160200
487  2008-01-07  日中  14500.0  14700.0  14430.0  14460.0   96037  1397488700
488  2008-01-04  夜間      NaN      NaN      NaN      NaN       0           0
489  2008-01-04  日中  14900.0  14900.0  14560.0  14660.0   73845  1087408900

[490 rows x 8 columns]